body {
  background-color: #ECF2FF;
    }
hr {
  border-style: dotted none none;
  border-color: #913175;
  border-width: 5px;
  width: 5%;
    }
img {
  height: 250px;
  }
h1 {
    color: #66BFBF;
}
h3 {
    color: #66BFBF;
}

/*

class selector = .classname {}
ID selector = #IDname {}

*/